@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    display: flex;
    gap: 70px;
}

header nav ul li{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #3f3f3f;
    letter-spacing: 1px;
}

header nav :nth-child(3){
    display: flex;
    gap: 40px;
}

header nav :nth-child(3) div{
    background-color: #5db455;
    border-radius: 50%;
}

header nav :nth-child(3)  i{
    font-size: 15px;
    color: #ffffff;
    padding: 20px;
}

header nav #mobileBar i{
    font-size: 30px;
    color: #3f3f3f;
}

header nav #mobileBar{
    display: none;
}

.homePage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homePage .data{
    position: absolute;
    top: 30%;
    left: 10%;
}

.homePage .data h2{
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #242424;
    letter-spacing: 1.44px;
    margin-bottom: 10px;
}

.homePage .data h1{
    font-size: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #5db455;
    letter-spacing: 1.44px;
    margin-bottom: 20px;
}

.homePage .data p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #3f3f3f;
    letter-spacing: 1.44px;
    width: 66vh;
}

.homePage .data button{
    padding: 20px 40px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: #5db455;
    border: none;
    border-radius: 5px;
    margin-top: 60px;
}

.homePage img{
    width: 75%;
    height: 100%;
    position: relative;
    left: 30%;
    top: 12vh;
    z-index: -100;
}

/* Media Query */

@media screen and (max-width: 1440px) {
    .homePage img{
        width: 80%;
        left: 30%;
        top: 13vh;
    }

    .homePage .data{
        left: 5%;
    }

    .homePage .data p{
        width: 70vh;
    }
}

@media screen and (max-width: 1024px){

    .homePage .data p {
        width: 51vh;
    }
    
    
}

@media screen and (max-width: 768px){
    header nav ul{
        display: none;
    }

    header nav :nth-child(3){
        display: none;
    }

    header nav #mobileBar{
        display: block;
        margin-right: 10px;
    }

    .homePage img{
        width: 120%;
        left: -9vh;
        opacity: 37%;
    }

    .homePage .data{
        text-align: center;
        margin-left: 10%;
    }
}

@media screen and (max-width: 425px){
    .homePage {
        width: 160%;
        height: 130vh;
        overflow: hidden;
    }

    .homePage img {
        width: 220%;
        left: -57vh;
        opacity: 37%;
    }

    .homePage .data p {
        width: 62vh;
    }

}

@media screen and (max-width: 375px){
    .homePage .data p {
        width: 57vh;
    }

    .homePage img {
        width: 250%;
    }
}

@media screen and (max-width: 320px){

    header nav #mobileBar {
        display: block;
        margin-right: 37px;
    }

    .homePage .data p {
        width: 47vh;
    }
    
}
.product{
    margin-top: 100px;
    padding: 40px;
    width: 100%;
    border-top: 2px solid #e0e0e0;
}

.product .main_title h1{
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.product .main_title img{
    position: absolute;
    z-index: -1;
    width: 50vh;
    left: 75vh;
    top: 116vh;
}

.product .main_title{
    margin-left: 45%;
}

.product .card-set{
    width: 96%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 10vh;
}

.product .card{
    width: 100%;
    border: 2px solid #e0e0e0;
}

.product .card img{
    width: 90%;
    padding: 20px;
}

.product .card .brand{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #3f3f3f;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-left: 20px;
}

.product .card .title{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #242424;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-left: 20px;
}

.product .card .star{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    padding-left: 20px;
}

.product .card .star i{
    font-size: 20px;
    color: #daff35;
}

.product .card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.product .card .price h3{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #5db455;
    letter-spacing: 1px;
}

.product .card .price button{
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: #5db455;
    border: none;
    border-radius: 5px;
}